In [ ]:
#activate myenv in terminal
#set path in order for relative paths to work
import glob
import pandas as pd

In [2]:
#path that holds all the saved Zoom Reports csv's downloaded from Zoom. 
path = "C:/Users/campb/OneDrive/Documents/Personal/RandomPythonScripts/Zoom_Attendance_pipeline/In_ZoomAttendance_rawCSVs/"


files = glob.glob(path + '\*.csv')

C:/Users/campb/OneDrive/Documents/Personal/RandomPythonScripts/Zoom_Attendance_pipeline/In_ZoomAttendance_rawCSVs/

In [3]:
#Define empty list to store content
data_frame = pd.DataFrame()
content = []

for filename in files:
    df = pd.read_csv(filename, index_col=None)
    content.append(df)

# convervting content into data_frame
data_frame = pd.concat(content)

In [4]:
print(data_frame)

                     User Name        Join time       Leave time  \
0   natalia alianovna romanova   2/1/2022 10:37   2/1/2022 12:10
1               janet van dyne   2/1/2022 10:45   2/1/2022 10:45
2               simon williams   2/1/2022 10:45   2/1/2022 12:10
3              james r. rhodes   2/1/2022 10:49   2/1/2022 12:10
4     carol susan jane danvers   2/1/2022 10:49   2/1/2022 12:10
..                         ...              ...              ...
79          greer grant nelson  3/22/2022 12:06  3/22/2022 12:15
80              wanda maximoff  3/22/2022 12:22  3/22/2022 12:22
81             james r. rhodes  3/22/2022 11:46  3/22/2022 12:03
82                  charlie-27  3/22/2022 12:02  3/22/2022 12:15
83             james r. rhodes  3/22/2022 12:04  3/22/2022 12:15

    Duration(Minutes)  Attentiveness Score  Unnamed: 5 Unnamed: 6 Unnamed: 7
0                94.0                  NaN         NaN        NaN        NaN
1                 1.0                  NaN         NaN        NaN        NaN
2                85.0                  NaN         NaN        NaN        NaN
3                82.0                  NaN         NaN        NaN        NaN
4                81.0                  NaN         NaN        NaN        NaN
..                ...                  ...         ...        ...        ...
79                9.0                  NaN         NaN        NaN        NaN
80                1.0                  NaN         NaN        NaN        NaN
81               18.0                  NaN         NaN        NaN        NaN
82               14.0                  NaN         NaN        NaN        NaN
83               12.0                  NaN         NaN        NaN        NaN

[1179 rows x 8 columns]

In [5]:
#Replace spaces in column names with an underscore (to remove spaces in the column so it's easier to split)
data_frame.columns = data_frame.columns.str.replace(' ', '_')

In [6]:
#split 'Join time' column into new columns named 'Date' and 'Join'
data_frame[['Date','Join']]=data_frame.Join_time.str.split(' ', n=1, expand= True)

In [7]:
##retains columns of interest
data_frame_clean = data_frame.loc[:,['User_Name','Duration(Minutes)','Date']]

In [8]:
#Context: Some students joined Lecture more than once per lecture (e.g., if their internet kicked them off of zoom, they had to rejoin the meeting)
##Task: For each student (User_Name) and lecture (Date), sum the 'Duration(Minutes)'.
data_frame_clean_SumDura = data_frame_clean.groupby(["User_Name", "Date"])["Duration(Minutes)"].sum()
df = data_frame_clean_SumDura.unstack()

In [9]:
#Calculate number of absences (i.e., number of "NaN") per student
#add column (i.e. ['Absences']) that calculates the number of NaN (is.null()) per row (for row use 'axis = 1')
df['Absences'] = df.isnull().sum(axis=1)

In [10]:
df.to_csv('C:/Users/campb/OneDrive/Documents/Personal/RandomPythonScripts/Zoom_Attendance_pipeline/Out_ZoomAttendance_compiled/ZoomAttendance_Concatted_WideTable.csv')